@import "tailwindcss";

@theme {
  /* Background & text */
  --color-background: #f7f9f8;
  --color-foreground: #1a2520;

  --color-primary: #c8102e;
  --color-primary-foreground: #ffffff;

  /* Secondary: Antique Gold / Champagne */
  --color-secondary: #c2a676;
  --color-secondary-foreground: #ffffff;

  /* Font */
  --font-poppins: var(--font-poppins);
}

body {
  background-color: #f7f9f8;
  color: #1a2520;
  font-family: var(--font-poppins), Arial, sans-serif;
}
